
@{
    ViewBag.Title = "AboutUs";
}
@section scripts
    {
    <script>

        (function ($) {
            $(function () {

                $('.button-collapse').sideNav();
                $('.parallax').parallax();

            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
}
<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br />
            <h1 class="header left white-text text-lighten-2">Sobre Nós</h1>
        </div>
    </div>
    <div class="parallax"><img src="~/Images/background4.jpg" /></div>
</div>

<div class="container list-cards">
    <div class="card">
        <div class="card-content">
            <h3>Missão</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a auctor erat, quis lacinia neque. Maecenas ipsum velit, tristique sed dictum eu, hendrerit et purus. Vivamus venenatis sem finibus fringilla malesuada. Ut consectetur tincidunt lobortis. Mauris elit risus, ullamcorper vel turpis eget, euismod vehicula sapien. Duis vel ligula fermentum, luctus ligula vitae, eleifend quam. Maecenas vulputate tempus dolor volutpat ullamcorper. Suspendisse commodo libero urna, vitae ornare nulla euismod quis. Fusce euismod, ante sit amet pharetra tincidunt, orci enim viverra sem, non hendrerit mi metus ac eros. Quisque facilisis velit eu nisl pulvinar pulvinar.</p>
            <h3>Visão</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a auctor erat, quis lacinia neque. Maecenas ipsum velit, tristique sed dictum eu, hendrerit et purus. Vivamus venenatis sem finibus fringilla malesuada. Ut consectetur tincidunt lobortis. Mauris elit risus, ullamcorper vel turpis eget, euismod vehicula sapien. Duis vel ligula fermentum, luctus ligula vitae, eleifend quam. Maecenas vulputate tempus dolor volutpat ullamcorper. Suspendisse commodo libero urna, vitae ornare nulla euismod quis. Fusce euismod, ante sit amet pharetra tincidunt, orci enim viverra sem, non hendrerit mi metus ac eros. Quisque facilisis velit eu nisl pulvinar pulvinar.</p>
            <h3>Valores</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a auctor erat, quis lacinia neque. Maecenas ipsum velit, tristique sed dictum eu, hendrerit et purus. Vivamus venenatis sem finibus fringilla malesuada. Ut consectetur tincidunt lobortis. Mauris elit risus, ullamcorper vel turpis eget, euismod vehicula sapien. Duis vel ligula fermentum, luctus ligula vitae, eleifend quam. Maecenas vulputate tempus dolor volutpat ullamcorper. Suspendisse commodo libero urna, vitae ornare nulla euismod quis. Fusce euismod, ante sit amet pharetra tincidunt, orci enim viverra sem, non hendrerit mi metus ac eros. Quisque facilisis velit eu nisl pulvinar pulvinar.</p>
        </div>
    </div>

</div>
