.icons-size {
    font-size: 54px
}

.list-align-left {
    text-align: right
}

.reduced-width {
    max-width: 50% !important
}

.list-cards {
    width: 90% !important
}

.images-size {
    width: 100% !important;
    height: 100% !important
}
